.headerMenu{
    Display: flex;
    background: #343a40; 
}
.logo{
    height: 40px;
    width:auto;
    margin-top: 8px;
    margin-left: 14px;
}
.headerMenu ul{
    display: flex;
    list-style-type: none;
}
li a{
    font-size: 15pt;
    padding-left: 0px;
    padding-right: 20px;
    color: darkgray;
}
li a:hover{
    cursor: pointer;
    color: gray;
}

.active{
    color: white;
}
#headerMenu{
    padding-left: 1px;
}