.headerMenu{
    Display: flex;
    background: #343a40; 
}
.logo{
    height: 40px;
    width:auto;
    margin-top: 8px;
    margin-left: 14px;
}
.headerMenu ul{
    display: flex;
    list-style-type: none;
}
.headerMenu li a{
    font-size: 15pt;
    padding-left: 40px;
}