.headerMenu{
    Display: flex;
    background: #68717a; 
}
.logo{
    height: 40px;
    width:auto;
    margin-top: 8px;
    margin-left: 14px;
}
.headerMenu ul{
    display: flex;
    list-style-type: none;
}
.headerMenu li a{
    font-size: 15pt;
    padding-left: 0px;
    padding-right: 20px;
}
.headerMenu li a:hover{
    cursor: pointer;
}

#headerMenu{
    padding-left: 1px;
}