*, *:before, *:after {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: "sans-serif";
	background-size: auto auto;
	align-items: center;
  }
  .navbarList{
    display:flex;
    width: 88.5%;

  }
  .header{
    text-align: center;
  }
  .navbar-nav{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 17px;
  }
  .container{
    width: 100%;
    padding-right: 10px;
    padding-left: 25px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  .logo{
    height: 40px;
    width:auto;
  }
  .images{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 42px;
    margin-top: 20px; 
  }
  .footer{
    height: 52px;
    border-top: 1px solid #CECECE;
    background: #343a40;
    width: 100%;
    position: relative;
    display: block;
    bottom: 0;
    margin-top:50px;
}
  .footerText{
    text-align: center;
    padding: 13px;
  }