body{
  font-family: 'Asap', sans-serif;
}
/* .headerMenu li a:hover{
  color: white;
}
.headerMenu li a:active {
  color: white;
} */
.tableOp{
  display: flex;
  margin-left: 13.5%;
  justify-content: space-between;
  width: 70%;
  padding-top: 20px;
}
.tableOpNull{
  width: 70%;
  padding-top: 20px;
  margin-left: 13.5%;
  display: flex;
  justify-content: center;
}
.addBtn{
  border:none;
  background-color: white;
  height: 50px; 
  width: 50px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-left: 6px;  
}
.portal{
  font-size: 25px;
  margin-left: 13.5%;
  background-image: url("../assets/images/portalBack.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 25px 0px;
  width: 70%;
  text-align: center;
}