body{
  font-family: 'Asap', sans-serif;
}

.tableOp{
  display: flex;
  margin-left: 13.5%;
  justify-content: space-between;
  width: 70%;
  padding-top: 20px;
}
.tableOpNull{
  width: 70%;
  padding-top: 20px;
  margin-left: 13.5%;
  display: flex;
  justify-content: center;
  margin-bottom: 23.5%;
}
.addBtn{
  border:none;
  background-color: white;
  height: 50px; 
  width: 50px;
  display: flex;
  justify-content: center; 
}
.portal{
  font-size: 25px;
  margin-left: 13.5%;
  background-image: url("../assets/images/backimg2.png"), url("../assets/images/backimgSide.jpg"), url("../assets/images/backimgSide.jpg");
  background-repeat: no-repeat;
  background-position: 58% 67%, 187% 68%, -80% 71%;
  padding: 25px 0px;
  width: 70%;
  text-align: center;
}