body{
  font-family: 'Asap', sans-serif;
}
.active {
  color: white;
}
.addBtn{
  border:none;
  background-color: white;
  height: 50px; 
  width: 50px;
  display: flex;
  justify-content: center;  
}
.portal{
  font-size: 25px;
  text-align: center;
}