.tableDisplay {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 88.5%;
    display: flex;
    justify-content: center;
    height: 300px;
    overflow: auto;
    margin-bottom: 80px;  
  }

  #tableDisplay td {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
  }
  #tableId{
    width: 100%;
  }
  
  #tableDisplay th {
    padding-top: 12px;
    padding-bottom: 12px; 
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgba(128, 128, 128, 1);
    color: rgb(0, 0, 0);
  }

  .tHead{
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .Btn{
    background-color: white;
    border: none; 
    color: white; 
    margin: 1px;
    padding: 5px 4px; 
    cursor: pointer;
  }