.footer{
    height: 55px;
    border-top: 1px solid #CECECE;
    background: #343a40;
    width: 100%;
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
}
  .footerText{
    text-align: center;
    padding: 13px;
    color: #fefefe;
  }