input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .modalHeader {
    text-align: center;
    margin: auto;
    position: relative;
    background-color: #ccc;
    padding: 4px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    font-size: 17px;
  }

  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  .modalBody{
    padding: 20px;
    font-size: 15px;
  }
  
  
  .formModal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 30%;
    box-shadow: 8px 15px #6b6b6b9f;
    border-radius: 25px;
  }
  
  .close {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover {
    color: rgb(197, 35, 35);
    cursor: pointer;
  }

  .submitBtn {
    background-color: rgb(76, 175, 80);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
  }
  
  .clearBtn{
    background-color: rgb(255, 238, 0);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
  }

  .modalFooter{
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
  }