.header{
    text-align: center;
    font-size: 25px;
  }
.container{
    width: 100%;
    padding-right: 10px;
    padding-left: 25px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}
.images{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 42px;
    margin-top: 20px; 
}