.container{
    width: 70%;
    margin-left: 13.5%;
}
.images{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
.images img{
    height: auto;
    width: 48%;
}
.images img:hover{
    opacity: .5;
}
@media only screen and (min-width: 300px) and (max-width: 480px){
    .container {
        margin-bottom: 38%;
    }
}